<%-include('./layout/head',{title:"Category"}) %>     
<%-include('./layout/header') %>      
<%-include('./layout/menu') %>      
<%-include('./layout/slider') %>   
                
                <!--	List Product	-->
                <div class="products">
                    <h3><%=title %> (hiện có <%=total %> sản phẩm)</h3>
                    <div class="product-list card-deck">
                        <% for(let product of products){%>
                            <%-include ('./components/product-item',{product}) %>
                            <% }%>
                    </div>
                </div>
                <!--	End List Product	-->
                
                <div id="pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
                    </ul> 
                </div>
<%-include('./layout/sidebar') %>      
<%-include('./layout/footer') %> 
</html>
