<%-include('./layout/head',{title:"Home"}) %>     
<%-include('./layout/header') %>      
<%-include('./layout/menu') %>      
<%-include('./layout/slider') %>    
<!--	Feature Product	-->
                <div class="products">
                    <h3>Sản phẩm nổi bật</h3>
                    <div class="product-list card-deck">
                        <% for(featured of featuredProduct){%>
                        <div class="product-item card text-center">
                            <a href="#"><img src="/public/images/<%=featured.thumbnail %>"></a>
                            <h4><a href="#"><%=featured.name%></a></h4>
                            <p>Giá Bán: <span><%=featured.price%>đ</span></p>
                        </div>
                        <% }%>
                    </div>
                </div>
                <!--	End Feature Product	-->
                
                
                <!--	Latest Product	-->
                <div class="products">
                    <h3>Sản phẩm mới</h3>
                    <div class="product-list card-deck">
                        <% for(latest of latestProduct){%>
                        <div class="product-item card text-center">
                            <a href="#"><img src="/public/images/<%=latest.thumbnail %>"></a>
                            <h4><a href="#"><%=latest.name%></a></h4>
                            <p>Giá Bán: <span><%=latest.price%>đ</span></p>
                        </div>
                        <% }%>
                    </div>
                </div>
                <!--	End Latest Product	-->
                
<%-include('./layout/sidebar') %>      
<%-include('./layout/footer') %> 