<%-include('./layout/head',{title:"Home"}) %>     
<%-include('./layout/header') %>      
<%-include('./layout/menu') %>      
<%-include('./layout/slider') %>    
<!--	Feature Product	-->
                <div class="products">
                    <h3>Sản phẩm nổi bật</h3>
                    <div class="product-list card-deck">
                        <% for(let product of featuredProduct){%>
                        <%-include('./components/product-item',{product}) %>
                        <% }%>
                    </div>
                </div>
                <!--	End Feature Product	-->
                
                
                <!--	Latest Product	-->
                <div class="products">
                    <h3>Sản phẩm mới</h3>
                    <div class="product-list card-deck">
                        <% for(let product of latestProduct){%>
                            <%-include('./components/product-item',{product}) %>
                        <% }%>
                    </div>
                </div>
                <!--	End Latest Product	-->
                
<%-include('./layout/sidebar') %>      
<%-include('./layout/footer') %> 