<%-include('./layout/head',{title:"Search"}) %>     
<%-include('./layout/header') %>      
<%-include('./layout/menu') %>      
<%-include('./layout/slider') %>   
                
                <!--	List Product	-->
                <div class="products">
                    <div id="search-result">Kết quả tìm kiếm với sản phẩm <span><%=keyword%></span></div>
                    <div class="product-list card-deck">
                        <% for(product of products){ %>
                        <%-include("components/product-item",{product}) %>
                        <% } %>
                    </div>
                </div>
                <!--	End List Product	-->
<%-include('./layout/sidebar') %>      
<%-include('./layout/footer') %> 
                